@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}


html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header{
    margin-top: 20px;
    position: fixed;
    top: -22px;
    left: 0;
    height: 10% 50%;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(25px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 1.5px solid rgba(255, 255, 255, 0.18);
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #2c0035;
    border-bottom: 3px solid #2c0035;
}

@media(max-width:300px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #2c0035;
        border-bottom: 3px solid #2c0035;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #2c0035;
    }
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #ffffff;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #fffdfd;
}

.social-icons a:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.3) translateY(-5px);
    background-color: #ffeded;
    box-shadow: 0  0 25px #fff9f9;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-image > img {
    border-radius: 50%;
    margin: 30px;
    box-shadow: 1px 1px 20px rgb(255, 255, 255);
}

.greetings {
    font-size: 30px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(
        to bottom right,
        rgb(177, 177, 177),#403F44, #1E1B32, black, black
    );
    background-size: 300% 300%;
    animation: color 15s ease-in-out infinite;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.about-image2 > img{
    border-radius: 50px;
    box-shadow: 1px 1px 20px rgb(255, 255, 255);
}

.describe-about-me {
    font-size: 20px;
    margin: 50px;
    text-align: justify;
    width: 800px;
    padding: 50px;
}

.about-me {
    font-size: 50px;
}

.skills{
    background-image: url(/static/images/landscapeforskills.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-size: 150% 150%;
    animation: color 90s ease-in-out infinite;
    display: grid;
    justify-content: center;
    align-items: center;
}
.header {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
    font-size: 70px;
}
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    bottom: 100px;
    padding: 150px;
}
.card{
    position: relative;
    list-style: none;
    width: 200px;
    transition: .3s ease;
}
.card::before{
    content: "";
    display: block;
    padding-bottom: 150%;
    width: 100%;
}
.card-background {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    border-radius: 20px;
    background-size: 350px;
    background-position: center;
    filter: brightness(.9) saturate(1) contrast(1);
    transform-origin: bottom; 
    transform: scale(1) translateZ(0);
    transition: .3s ease;
}
.card:hover .card-background {
    transform: scale(1.15) translateZ(0);
    background-size: 260px;
}
.card-container:hover .card:not(:hover) {
    transform: scale(.9);
}
.card-container:hover > .card:not(:hover) .card-background,
.card-container:hover > .card:not(:hover) .card-category {
    filter: brightness(.5) saturate(0) contrast(1.2) blur(20px);
}
.content {
    top: 50%;
    left: 0;
    padding: 25px;
    position: absolute;
}
.card-category {
    color: white;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 5px;
    margin-bottom: 8px;
    text-transform: uppercase;
}
.card-heading {
    color: white;
    font-size: 25px;
    line-height: 1;
    text-shadow: 2px 2px 20px black;
}
.contact {
     background: linear-gradient(
        to bottom right,
        rgb(177, 177, 177),#403F44, #1E1B32, black, black
    );
    background-size: 300% 300%;
    animation: color 15s ease-in-out infinite;
}
.mycontact {
    font-size: 50px;
    text-align: center;
    color: white;
    animation: puls 1.5s infinite;
}
.container{
    height: 50rem;
    width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.358);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.207);
}
label {
    display: block;
    margin-bottom: 5px;
}
input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #092408;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
}
.input {
    width: 50%;
}

button{
    padding: 10px 20px;
    background-color: #2c0035;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #161616;
}

.autoShow {
    animation: text-apear both;
    animation-timeline: view();
    animation-range: entry 10% cover 100vh;
}

@keyframes text-apear {
    from {
        opacity: 0;
        transform: translateY(100px);
        transition: all 1s;
    }
    to {
        opacity: 1;
        transform: translateY(0);

    }
}
.imageReveal {
    animation: imageReveal both;
    animation-timeline: view(70% 20%);
}

@keyframes imageReveal {
    from {
        filter: saturate(0) contrast(4) brightness(.1) blur(5px);
        opacity: 0;
        scale: .95;
        translate: 0 4rem;
        transform: translateX(-100px);
    }
    to {
        filter: none;
        opacity: 1;
        scale: 1;
        translate: 0 0;
        transform: translateX(0);
    }
}

